body {
  font-family: monospace;
  background: #1b1b1b;
  color: white;
}

#main {
  max-width: 800px;
}

.unit summary {
  outline: none;
  cursor: pointer;
}

.unit .name {
  font-weight: bold;
  background: gray;
  text-align: center;
}

a:link, a:visited {
  color: cyan;
}

ul.comma-sep {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.comma-sep > li {
  display: inline;
}
ul.comma-sep > li:not(:last-child):after {
  content: ", ";
}
